html {
  font-size: 14px;
}

body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.p-input-icon-left > i:first-of-type,
.p-input-icon-left > svg:first-of-type,
.p-input-icon-left > .p-input-prefix {
left: 0.5rem;
color: #605e5c;
}

.p-input-icon-left > .p-inputtext {
padding-left: 2rem;
}

.p-input-icon-left.p-float-label > label {
left: 2rem;
}

.p-input-icon-right > i:last-of-type,
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > .p-input-suffix {
right: 0.5rem;
color: #605e5c;
}

.p-input-icon-right > .p-inputtext {
padding-right: 2rem;
}

.p-dropdown-items .p-dropdown-item-label{width:100% !important;}